security:
    encoders:
        AppBundle\Entity\User:
            algorithm: bcrypt

    providers:
        fos_userbundle:
            id: fos_user.user_provider.username
        in_memory:
            memory: ~

    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

        main:
            pattern: ^/
            form_login:
                provider: fos_userbundle
                check_path: /api/v1/users/login
                failure_handler: app.security.authentication_rest_handler
                success_handler: app.security.authentication_rest_handler
                username_parameter: username
                password_parameter: password
                remember_me: false
                require_previous_session: false

            guard:
                authenticators:
                    - app.token_authenticator

            anonymous: ~
            logout: ~

    access_control:
        - { path: ^/api/v1/users/login$, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/api/v1/users/registration$, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/api/, role: ROLE_USER }

